<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>椿工藝舎ブログ</h1>
          <span class="subheading">ギター・革製品・帆布製品・木工・自転車</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-lg-9 col-md-9 d-flex justify-content-end py-4">
    <input type="text" name="search" placeholder="Search Post..."/>
  </div>
</div>


<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-9">
      <div class="row">
        <div class="col-lg-12 col-md-12 mx-auto">
          <div class="post-preview" *ngFor="let article of page.rows">
            <h2 class="post-title">
              <a [routerLink]="['/post']" [queryParams]="{id: article._id}">
                {{article.title}}
              </a>
            </h2>
            <p class="content" [innerHTML]="sanitizedContent(article)"></p>
            <p class="post-meta">{{article.tags.join(', ')}}</p>
            <p class="post-meta">Posted by
              {{article.author.name}} on {{article.publishedAt|date:'short'}}</p>
            <p>{{openedCommentCount(article)}} コメント</p>
          </div>
          <hr>

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-left" href="#" (click)="prevPage()" *ngIf="page.prev">&larr; Newer Posts</a>
            <a class="btn btn-primary float-right" href="#" (click)="nextPage()" *ngIf="page.next">Older Posts
              &rarr;</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-3">
      <div class="aside">
        <app-aside></app-aside>
      </div>
    </div>
  </div>
</div>

<hr>