<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="admin-heading">
                    <span class="subheading px-4">
                        <button class="btn btn-primary btn-sm" [routerLink]="['/admin']">Dashboard</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/articles']">Articles</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/users']">Users</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <h3>Editor</h3>
    <form class="form">
        <div class="row">
            <div class="form-group col">
                <input type="text" name="title" class="form-control" placeholder="Title" [(ngModel)]="article.title">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <ckeditor
                    [editor]="editor"
                    [config]="editorConfig"
                    [(ngModel)]="article.content" 
                    name="content"></ckeditor>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <input type="text" name="tags" class="form-control" placeholder="Comma separated tags" [(ngModel)]="article.tags">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="author">Author</label>
                <input type="text" name="author" id="author" readonly class="form-control-plaintext" [value]="auth.getUsername()">
            </div>
        </div>
        <button class="btn btn-primary" (click)="post()">Publish</button>
        <button class="btn btn-secondary" (click)="saveAsDraft()">Save as Draft</button>
        <button class="btn btn-danger" (click)="deletePost()" *ngIf="article._id">Delete</button>
    </form>

    <!--
    <form class="form">
        <div class="row">
            <div class="input-group col-md-8 m-auto">

                <div class="progress" *ngIf="uploading">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                          
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file" #file (change)="onFileChange($event.target.files)">
                    <label for="file" class="custom-file-label" #fileLabel>Choose File</label>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text" (click)="uploadFile()">Upload</span>
                </div>
            </div>
        </div>
    </form>
    -->
</div>
<hr>
