<!-- Page Header -->
<header class="masthead" style="background-image: url('img/admin-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="admin-heading">
                    <span class="subheading px-4">
                        <button class="btn btn-primary btn-sm" [routerLink]="['/admin']">Dashboard</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/articles']">Articles</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/users']">Users</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <h3>Editor</h3>
    <form class="form">
        <div class="row">
            <div class="form-group col">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="user.name">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="user.email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="user.password">
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label for="role">Role</label>
                <select name="role" id="role" class="form-control">
                    <option value="{{role.name}}" *ngFor="let role of roles">{{role.label}}</option>
                </select>
            </div>
        </div>
        <button class="btn btn-primary" (click)="save()">Save</button>
        <button class="btn btn-danger" (click)="deleteUser()" *ngIf="user._id">Delete</button>
    </form>

</div>
<hr>
