<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="admin-heading">
                    <span class="subheading px-4">
                        <button class="btn btn-secondary btn-sm">Dashboard</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/articles']">Articles</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/comments']">Comments</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/users']">Users</button>
                        <button class="btn btn-dark btn-sm" (click)="auth.logout()">Logout</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="card-grid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"># of Articles</h5>
                    <h1 class="text-center text-muted">{{articles}}</h1>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top Articles</h5>
                    <ul>
                        <li *ngFor="let post of topPosts"><a [routerLink]="['/editor']"
                                [queryParams]="{id: post._id}">{{post.title}}</a></li>
                    </ul>
                    <div class="clearfix">
                        <button class="btn btn-primary btn-sm float-right" [routerLink]="['/editor']">New
                            Article</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <ul>
                        <li *ngFor="let comment of recentComments">{{comment.content}}</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <ul>
                        <li *ngFor="let user of users"><a [routerLink]="['/usereditor']"
                                [queryParams]="{id: user._id}">{{user.name}}</a></li>
                    </ul>
                    <div class="clearfix">
                        <button class="btn btn-primary btn-sm float-right" [routerLink]="['/usereditor']">New
                            User</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>