<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="admin-heading">
                    <span class="subheading px-4">
                        <button class="btn btn-primary btn-sm" [routerLink]="['/admin']">Dashboard</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/articles']">Articles</button>
                        <button class="btn btn-secondary btn-sm">Comments</button>
                        <button class="btn btn-primary btn-sm" [routerLink]="['/users']">Users</button>
                        <button class="btn btn-dark btn-sm" (click)="auth.logout()">Logout</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <h3>Comments</h3>
    <div class="py-4"></div>
    <table class="table comments">
        <thead>
            <tr>
                <th>Writer</th>
                <th>Email</th>
                <th>Content</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comment of page.rows">
                <td>{{comment.writer}}</td>
                <td>{{comment.email}}</td>
                <td>{{comment.content}}</td>
                <td>{{comment.postedAt|date:'short'}}</td>
            </tr>
        </tbody>
    </table>
</div>
<hr>