<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>椿工藝舎ブログ</h1>
                    <span class="subheading">ギター・革製品・帆布製品・木工・自転車</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10">
            <div class="post-preview">
                <h2 class="post-title">{{article.title}}</h2>
                <p [innerHTML]="sanitizedContent(article.content)"></p>
                <p class="post-meta">{{article.tags.join(', ')}}</p>
                <p class="post-meta">Posted by {{article.author.name}} on {{article.publishedAt|date:'short'}}</p>
                <span class="like">
                <a (click)="like(article)"><i class="far fa-thumbs-up"></i></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-10">
                <div class="py-4">
                        <h5>Comments</h5>
                    </div>
            <form class="form comment-form">
                <div class="form-group">
                    <input type="text" name="name" [(ngModel)]="comment.writer" class="form-control" placeholder="Your name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" [(ngModel)]="comment.email" class="form-control" placeholder="Your email" required>
                </div>
                <div class="form-group">
                    <textarea name="comment" id="comment" [(ngModel)]="comment.content" class="form-control" placeholder="Your comment" required></textarea>
                </div>
                <div class="clearfix">
                    <button class="btn btn-default btn-sm float-right" (click)="postComment()">Post</button>
                </div>
    
            </form>
            <div class="comment">
            <div class="post-comment" *ngFor="let comment of article.comments">
                <p [innerHTML]="sanitizedContent(comment.content)"></p>
                 <p class="post-comment-meta">by {{comment.writer}} on {{comment.postedAt|date:'short'}}</p>
            </div>
            </div>
        </div>
    </div>
</div>